body{
    scroll-behavior: smooth;
    margin: 0;
    background-color: hsl(0, 0%, 15%);
}
header{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 90px;
    
    color: #000000;
    position: sticky;
    top: 0;
    transition: 1s ease;
    z-index: 3;
    
  }
  .white{
    background: black;
  }
  .black{
    color: black;
  }
.navbar{
    
    top: 0;
    width: 100%;
    height: 90px;
    
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.navbar .logo .frontlogoo{
    margin-top: -17px;
    height: 75px;
    width: 100px;
}
.navbar .logo .links {
    margin-left: 500px;
    font-size: 60px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-weight: bold;
}

.navbar .logo a{
    
    font-size: 60px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-weight: bold;
}
.links a{
    margin-top: -10px;
    
    font-size: 24px;
    color: white;
    /* color: rgb(255, 255, 255); */
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    transition: 1s ease;
}
a:hover{
    background: linear-gradient(360deg,#f7ec98, #f7eea8 10%, #fbf5c5);
    -webkit-background-clip: text;
    color: #f7ec98;
}

.toggle_btn{
    

    padding: 5px;
    border-radius: 5px;
    
    background: red;
    
    cursor: pointer
    
    
}
.toggle_btn a{
    font-size: 24px;
    color: white;
    /* color: rgb(255, 255, 255); */
    font-weight: 500;
    text-decoration: none;
    transition: 1s ease;
}

.homee{
    background-image: url(BGHOY.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}





.maincontainer {
    height: 390px;
    font-family: 'Impact';
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;

}


.servicescontainer{

background: linear-gradient(360deg,#f7ec98, #f7eea8 10%, #fbf5c5,#f7ec98);
padding: 10px 9%;
padding-bottom: 50px;

}
.servicescontainer .heads{
letter-spacing: 5px;
text-align: center;
padding-bottom: 0;
color: #000000;
text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
font-size:  60px;
}

.servicescontainer .box-container{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
gap: 30px;
}

.servicescontainer .box-container .box{
background: white;
/* background: linear-gradient(360deg,#f66ee7, #bc49af 10%, #4c4ac1);

 -webkit-background-clip: background; */
align-items: center;
justify-content: center;
text-align: center;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
/* margin-left: 10px; */
border-radius: 5px;

padding: 0;
transition: 1s ease;

}


.maincontainer .servicescontainer .box-container .box img{
text-align: center;
justify-content: center;
margin-left: 0;



height: 300px;
}
.maincontainer .servicescontainer .box-container .box img .pall{

margin-left: 60px;

opacity: 0;

height: 60px;
}
.servicescontainer .box-container .box h3{
color: #000;
/* color: #444; */
font-size: 22px;
padding: 10px 13px;

}
.servicescontainer .box-container .box p{
margin-left: 10px;
color: #070707;
font-size: 15px;
line-height: 1.8;
}

.servicescontainer .box-container .box .btn{
text-decoration: none;
margin-top: 10px;
margin-bottom: 30px;
margin-left: 10px;
display: inline-block;
background: #333;
color: #fff;
font-size: 17px;
border-radius: 5px;
padding: 8px 25;
}

.servicescontainer .box-container .box .btn:hover{
letter-spacing: 1px;
}

.servicescontainer .box-container .box:hover{
background: linear-gradient(180deg,#ffffff, #ffffff 10%, #C19a6b 190%);
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
transform: scale(1.03);
/* background: linear-gradient(360deg,white, #786cd6 , #c62cb4); */

}
/* 
CHECK OUT */
