body{
    background-image: url(loginBGBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    
    
    
    height: 310px;
    width: 28%;
    margin: 210px auto auto auto;

    padding: 10px;
    border: 10px;
    border-radius: 15px;
    border-color: solid black;
    background: linear-gradient(360deg,#f7ec98, #f7eea8 10%, #fbf5c5);
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.2);
}
table{
    /* margin-top: 75px; */
    border: 15px;
    border-width: 15px;
    border-color: black;
}
input[type = "text"],
input[type = "password"] {
    
    height: 25px;
    width: 115%;
    border-radius: 5px;
    border-color: black;
    border-bottom: 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;

}
input[type = "button"]{
    margin-left: 40px;
    width: 200px;
    background: black;
    cursor: pointer;
    box-shadow: 5px;
    border-radius: 5px;
    height: 45px;
    color: #f7eea8 ;
}
img{
    height: 200px;
    width: 300px;
}